<a href="https://colab.research.google.com/github/embee430/Data-Projects/blob/main/Final_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#How to webscrape tesla historical revenue data using BeautifulSoup in Python
#In this tutorial, i showed how to select a table from multiple table with same class and showed how you extract data and read to a dataframe.
#Lastly, i showed how to export the scraped data to csv.

In [1]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [51]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [38]:
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'

In [39]:
page = requests.get(url)

In [40]:
soup = BeautifulSoup(page.text, 'html.parser')

In [44]:
table = soup.find_all('table')

In [45]:
len(table)

6

In [49]:
table1 = table[1]

In [52]:
tesla_revenue = pd.DataFrame(columns=['Date', 'Revenue'])

In [57]:
for row in table1.find('tbody').find_all('tr'):
  col = row.find_all('td')
  Date = col[0].text
  Revenue = col[1].text
  tesla_revenue = tesla_revenue.append({'Date':Date, 'Revenue':Revenue}, ignore_index=True)

In [63]:
tesla_revenue = tesla_revenue.drop(0)

In [64]:
tesla_revenue

          Date  Revenue
1   2021-12-31  $17,719
2   2021-09-30  $13,757
3   2021-06-30  $11,958
4   2021-03-31  $10,389
5   2020-12-31  $10,744
6   2020-09-30   $8,771
7   2020-06-30   $6,036
8   2020-03-31   $5,985
9   2019-12-31   $7,384
10  2019-09-30   $6,303
11  2019-06-30   $6,350
12  2019-03-31   $4,541
13  2018-12-31   $7,226
14  2018-09-30   $6,824
15  2018-06-30   $4,002
16  2018-03-31   $3,409
17  2017-12-31   $3,288
18  2017-09-30   $2,985
19  2017-06-30   $2,790
20  2017-03-31   $2,696
21  2016-12-31   $2,285
22  2016-09-30   $2,298
23  2016-06-30   $1,270
24  2016-03-31   $1,147
25  2015-12-31   $1,214
26  2015-09-30     $937
27  2015-06-30     $955
28  2015-03-31     $940
29  2014-12-31     $957
30  2014-09-30     $852
31  2014-06-30     $769
32  2014-03-31     $621
33  2013-12-31     $615
34  2013-09-30     $431
35  2013-06-30     $405
36  2013-03-31     $562
37  2012-12-31     $306
38  2012-09-30      $50
39  2012-06-30      $27
40  2012-03-31      $30
41  2011-12-31      $39
42  2011-09-30      $58
43  2011-06-30      $58
44  2011-03-31      $49
45  2010-12-31      $36
46  2010-09-30      $31
47  2010-06-30      $28
48  2010-03-31      $21
49  2009-12-31
50  2009-09-30      $46
51  2009-06-30      $27

In [67]:
tesla_revenue1 = tesla_revenue.to_csv('tesla.csv')

In [68]:
tesla_revenue1