<a href="https://colab.research.google.com/github/embee430/Data-Projects/blob/main/Webscraping%20Location%20Information.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#How to webscrape location information of Nigerian States and convert to a Dataframe
#I will also export the frame to a CSV file.

In [3]:
!pip install requests
import pandas as pd
import requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [4]:
url = 'https://www.distancelatlong.com/country/nigeria'

In [5]:
location_data = requests.get(url)

In [6]:
location_data

In [7]:
df = pd.read_html(url)

In [11]:
loc_data=df[2]

In [12]:
loc_data = pd.DataFrame(loc_data)

In [15]:
loc_data

                           States   Latitude  Longitude
0                        Abia (2)   5.532003   7.486002
1                     Adamawa (3)  10.270341  13.270032
2                   Akwa Ibom (2)   5.007996   7.849999
3                     Anambra (2)   6.210434   7.069997
4                      Bauchi (2)  11.680410  10.190013
5                       Benue (2)   7.190400   8.129984
6                       Borno (3)  10.620423  12.189995
7                 Cross River (1)   4.960407   8.330024
8                       Delta (2)   5.890427   5.680004
9                         Edo (1)   6.340477   5.620008
10                      Ekiti (1)   7.630373   5.219981
11                      Enugu (2)   6.867034   7.383363
12  Federal Capital Territory (1)   9.083333   7.533328
13                      Gombe (2)  10.290443  11.169954
14                        Imo (2)   5.492997   7.026004
15                     Jigawa (1)  11.799189   9.350335
16                     Kaduna (2)  11.079981   7.710010
17                       Kano (1)  11.999977   8.520038
18                    Katsina (2)  11.520394   7.320008
19                      Kebbi (2)  12.450414   4.199940
20                       Kogi (2)   7.800388   6.739940
21                      Kwara (1)   8.490010   4.549996
22                      Lagos (1)   6.443262   3.391531
23                  Nassarawa (2)   8.490424   8.520038
24                      Niger (3)  10.400359   5.469940
25                       Ogun (2)   7.160427   3.350017
26                       Ondo (4)   7.250396   5.199982
27                       Osun (3)   7.629959   4.179993
28                        Oyo (4)   7.970016   3.590003
29                    Plateau (1)   9.929974   8.890041
30                     Rivers (1)   4.810002   7.010001
31                     Sokoto (1)  13.060015   5.240031
32                     Taraba (2)   7.870410   9.780013
33                       Yobe (4)  11.748996  11.966005
34                    Zamfara (1)  12.170406   6.659996

In [19]:
loc_data.to_csv('newdata1.csv')

In [20]:
#The dataframe has been exported to a CSV file which i have downloaded to my local PC
#End